<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matterbot</title>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
</head>
<body>
<div>
    <h1>Fancy Shmancy Matterbot</h1>
    <input type="text" id="matterbot-text" onfocus="this.value=''" value="Search here">
    <button type="button" id="giphy-button">Search for Giphys!</button>
    <button type="button" id="urban-button">Urban dictionary!</button>
    <button type="button" id="weather-button">Weather forcast!</button>
    <button type="button" id="ascii-button">Fancy ASCII-Art!</button>
    <div id="output"></div>
    <script src="js/index.js"></script>
</div>
</body>
</html>

